# Tipos

En Python, a diferencia de otros lenguajes de programación tan populares como C, C++, Pascal, etc, no es necesario declarar el tipo del que es la variable, si es un entero, entero doble, `float` (decimal), `string` (cadena de caracteres), booleano, etc. Ni siquiera declararlo inicialmente su existencia (esto puede crear un poco de confusión si no se escribe adecuadamente claro el código). 

Los tipos de los que Python dispone son similares a los de C o C++, pero con algunas sutiles diferencias como veremos, que lo hacen especialmente interesante para cálculos científicos.

## Booleanos

Los booleanos, más conocidos entre el público veterano como `bool`, son las variables _Verdadero_ y _Falso._ Aquí, estos valores son `True` y `False`, respectivamente, con la inicial en mayúscula.

In [26]:
True

True

Las operaciones que podemos hacer son 

1. *and*, que viene dado por `&` o la palabra `and`
2. *or*, que viene dado por la palabra `or`
3. _xor_ (disyuntiva excluyente), que viene dado por `^`
4. *not*, que viene dado por `~` o la palabra `not`

In [30]:
False or True

True

Como es habitual en los lenguajes de programación imperativos, como es Python (y C), los booleanos aparecen de forma implícita en las condiciones de las estructuras de control de `while` e `if`. En muchos casos, éstos derivan de si existe una igualdad o una desigualdad:

1. `==` dos iguales yuxtapuestos para indicar una igualdad booleana
2. `!=` distinto
3. `<` y `>` son menor que o mayor que respectivamente
4. `<=` y `>=` son menor o igual que o mayor o igual que respectivamente

Otras comparaciones que veremos son `in` e `is`.

In [1]:
not False

True

In [2]:
4<=5

True

In [3]:
4==5

False

## Enteros (`int`)

Los números enteros son el tipo `int`. Todas las operaciones anteriormente explicadas se pueden aplicar, aunque la división `/` produzca no un número entero sino un `float`. 

A diferencia de otros lenguajes de programación que funcionan a más bajo nivel (como C o C++), los enteros de Python _no tienen límite:_

In [56]:
((5**5)**5)**5 # El valor de esta cuenta excedería con mucho el rango de valores aceptado para int y double int

2350988701644575015937473074444491355637331113544175043017503412556834518909454345703125

Para saber el tipo de variables con la que estamos tratando, usaremos el comando `type()`

In [1]:
type(2)

int

In [2]:
type(2/3)

float

In [4]:
2/3

0.6666666666666666

Si tenemos un valor decimal, y lo queremos convertir a un entero, podemos usar el comando `int()`

In [5]:
int(4.6) # Lo redondea por abajo

4

También vale para cadenas de caracteres que se correspondan con números,

In [6]:
int("25")

25

pero aunque sabemos que 'a' se corresponde con un valor entero en ASCII, esto no lo admite el comando `int` y devuelve un error

In [7]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [9]:
int(True)

1

## Otros números: `float` y `complex`

Existen otros dos tipos: `float`, que se corresponden a los números decimales; y los `complex`, que son los números complejos.

Los `float` son exactamente una transposición de los `double float` de cualquier lenguaje de programación más o menos conocido. Es decir, son los números decimales, pero sin límites.

In [14]:
((((((2.5**2.5)**2.5)**2.5)**2.5)**2.5)**2.5)**2.5

7.643742957409046e+242

Para diferenciar un número entero de uno decimal, cuando son iguales, se debe poner la coma decimal `.`. Por ejemplo, para Python si escribimos `5` reconocerá en él un entero `int`; si en cambio escribimos `5.0` o más brevemente `5.`, entenderá que estamos ante un número decimal `float`.

In [15]:
type(5)

int

In [16]:
type(5.)

float

Los números complejos, `complex` para Python, se introducen usando `j` como $\sqrt{-1}$.

In [10]:
type(3+2j)

complex

Sin embargo, hay que tener cuidado: `1+j` no es $1+\sqrt{-1}$; para escribir este número debemos escribir `1+1j`.

In [11]:
1+j

NameError: name 'j' is not defined

In [12]:
1+1j

(1+1j)

Por supuesto, podemos usar todo tipo de operaciones (menos `%`) para realizar las operaciones

In [13]:
(3+2j)/(2-1j)

(0.8+1.4j)

In [14]:
(1+1j)**(1-1j)

(2.8078792972606292+1.3178651729011808j)

## `char` y `string`

El tipo `char` con caracteres y, en realidad, están incluidas dentro de las cadenas de caracteres `string`.

Las cadenas de caracteres, como ya hemos visto antes, se definen colocando el valor entre dobles comillas `"` o comillas simples `'`.

In [3]:
type("Hola")

str

In [5]:
type('Hola')

str

Estas cadenas de caracteres pueden ser los valores de una variable.

In [15]:
nombre = "Jonathan"

In [16]:
print(nombre)

Jonathan

Las cadenas de caracteres tienen operaciones entre sí. De hecho, lo veremos más adelante, se comportan muy similar a las listas.

In [17]:
apellido1 = " Sánchez"
apellido2 = " Hernández"

Por ejemplo, la suma de las cadenas de caracteres corresponde a la unión:

In [18]:
autor = nombre + apellido1 + apellido2 # suma

In [19]:
print(autor)

Jonathan Sánchez Hernández

In [20]:
"Jonathan" " Sánchez" " Hernández"

'Jonathan Sánchez Hernández'

In [22]:
nombre " Sánchez"

SyntaxError: invalid syntax (<ipython-input-22-8c4d86556fe4>, line 1)

Las cadenas vacías al convertirlas en booleanos dan `False`, y las cadenas no vacías dan `True`.

In [30]:
bool("")

False

In [31]:
bool(autor)

True

Una operación bastante común es hallar la longitud _(length)_ de la cadena de caracteres:

In [23]:
len(autor) # calculo la longitud de mi nombre

26

Otra operación interesante es conocer el número de veces que ocurre un carácter o una subcadena:

In [24]:
autor.count("e")

3

In [25]:
autor.count("án")

2

También podemos romper la cadena en palabras simples con `split()`: lo que obtendríamos es una _colección_ de cadenas (pronto veremos de qué tipo de colección estamos hablando)

In [26]:
autor.split(" ")

['Jonathan', 'Sánchez', 'Hernández']

In [27]:
autor.split('e')

['Jonathan Sánch', 'z H', 'rnánd', 'z']

### subcadenas

Algo importante en las cadenas es trabajar con subcadenas. Tanto las cadenas como muchos otros tipos (v.g., las listas) comparten en esta situación una sintaxis muy similar.



































































































































































































































Para obtener una posición en concreto, debemos escribir entre corchetes la posición que queremos: Por ejemplo, para la posición 8, debemos escribir

In [28]:
autor[8]

' '

¡Un momento! Vamos a contar letras: si la palabra 'Jonathan' tiene 8 letras, la octava posición correspondería a la 'n' y no al espacio que hay después. ¿Qué es lo que ocurre? Bueno, pues aquí empieza una de las rarezas de Python: **todos los índices comienzan en 0.** Por ejemplo, la letra 'J' está en la posición 0-ésima.

In [32]:
autor[0]

'J'

Es posible usar índices negativos: estos recorren _al revés_ la cadena, de modo que la posición $-1$ se corresponde con el último carácter de la cadena.

In [33]:
autor[-1]

'z'

Por supuesto, a mayor valor negativo, más a la izquierda estaremos del último carácter.

In [34]:
autor[-10]

' '

Para hallar la **subcadena de caracteres** desde la posición 9 hasta la posición 15, escribimos

In [35]:
autor[9:16]

'Sánchez'

Aquí está el segundo detalle que debemos mencionar: hemos tenido que colocar 16 en lugar de 15 para que llegue hasta el 15. 

**Las dos mencionadas particularidades se tienen que tener presente siempre**

Podemos usar términos negativos para referirnos a la cadena:

In [48]:
autor[9:-10]

'Sánchez'

De nuevo, no se incluye la posición -10 en nuestra subcadena.

Si queremos recorrer de la 9ª posición en adelante, deberemos escribir

In [38]:
autor[9:]

'Sánchez Hernández'

De igual manera podemos hasta la 16 _sin incluir la posición 16_

In [39]:
autor[:16]

'Jonathan Sánchez'

Si queremos recorrer _de dos en dos_ la cadena, desde una posición a otra, usaremos la siguiente sintaxis

In [51]:
autor[9:16:2]

'Snhz'

Incluso podemos usar esta sintaxis para movernos al revés:

In [52]:
autor[::-1]

'zednánreH zehcnáS nahtanoJ'

## Listas

Comencemos ahora con uno de los tipos más importantes: *Las listas,* conocidas como `list`.

Una lista es una _colección de objetos._ Normalmente en un lenguaje de programación fuertemente tipado como C o C++, esta colección de objetos se restringe a _colección de objetos de un mismo tipo._ Sin embargo, en Python no es así: puedes meter en una misma lista todo tipo de objetos. Pero cualquiera que se te ocurra (siempre y cuando sea un tipo conocido por Python). 

La sintaxis de una lista es como sigue: se pone entre corchetes sus elementos, que se separan en comas, como por ejemplo

In [39]:
['Patatas', 1, True] # Una lista un poco extraña...

['Patatas', 1, True]

Las listas pueden incluir dentro otras listas

In [41]:
A = [[1,2],[3,4]]
print(A)

[[1, 2], [3, 4]]

Parece una matriz, ¿verdad? Pues en realidad no. Vamos a tardar un tiempo en ver una matriz.

Para acceder a sus elementos se siguen la misma sintaxis que en un `string` (a fin de cuentas, un `string` no es más que es una lista de caracteres...), tienendo siempre en cuenta que los índices comienzan en 0.

In [42]:
primos = [2,3,5,7,11,13,17,19,23,29,31,37,41,43,47]
print("Ojo, que este no es el primer primo:",primos[1])
print("El último de los primos",primos[-1])
print("Una colección de primos",primos[4:-4])
print("Una subcolección de primos en orden inverso:",primos[::-2])

Ojo, que este no es el primer primo: 3
El último de los primos 47
Una colección de primos [11, 13, 17, 19, 23, 29, 31]
Una subcolección de primos en orden inverso: [47, 41, 31, 23, 17, 11, 5, 2]

Existen operaciones como concatenar listas que, como en las cadenas de caracteres, se hace con la suma `+`

In [51]:
primos + A

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, [1, 2], [3, 4]]

También podemos repetir muchas veces los elementos de una lista usando `*`

In [52]:
[4]*3

[4, 4, 4]

In [44]:
[2,3]*5

[2, 3, 2, 3, 2, 3, 2, 3, 2, 3]

### Modificación de una lista

Otras operaciones básicas respecto a sus elementos respecto a la modificación de la lista son las siguientes:

1. Se puede **modificar un elemento** de una lista (a diferencia de otras estructuras que veremos) `primos[-1]=49` (no, en efecto, 49 no es un número primo)
2. Se puede **insertar un elemento** de una lista: `primos.insert(0,"Lista de los primeros primos")` (insertamos la cadena "Lista de..." en la posición 0)
3. También se puede **insertar varios elementos** a una lista: `primos[4:4] = [8,9,10]` inserta entre la posición 3 y la 4 los elementos de la lista `[8,9,10]`. Ahora `primos[4:7]` será la sublista `[8,9,10]`.
4. Podemos **añadir un elemento** a la lista al final de la misma: `primos.append(47)` añade como último elemento el 47.
4. Podemos **borrar uno o varios elementos** de la lista: `del primos[4:7]` borraremos esta lista
5. **Eliminar por completo** una lista: `del A` borraremos la lista `A` en el sentido de que _deja de ser una variable._
6. **Eliminar un elemento** de la lista: `primos.remove(49)` eliminará la entrada 49 _(no la posición 49)_ de la lista. (¡por fin se va!)
7. **Vaciar toda la lista** es posible usando `primos.clear()`.

In [45]:
primos[-1]=49
print("Hemos modificado el último elemento:",primos)

Hemos modificado el último elemento: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 49]

In [46]:
primos.insert(0,"Lista de los primeros números primos")
print("Con el comando insert le hemos añadido un 'titulo' a nuestra lista de primos: ",primos)

Con el comando insert le hemos añadido un 'titulo' a nuestra lista de primos:  ['Lista de los primeros números primos', 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 49]

In [47]:
primos[4:4] = [8,9,10] 
print("Al añadir entre la posición 3 y la 4 los números 8, 9 y 10",primos)

Al añadir entre la posición 3 y la 4 los números 8, 9 y 10 ['Lista de los primeros números primos', 2, 3, 5, 8, 9, 10, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 49]

In [48]:
primos.append(47)
print("Añadimos un elemento más al final de la lista",primos)

Añadimos un elemento más al final de la lista ['Lista de los primeros números primos', 2, 3, 5, 8, 9, 10, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 49, 47]

In [50]:
del primos[4:7]
print("Hemos borrado los elementos añadidos anteriormente", primos)

Hemos borrado los elementos añadidos anteriormente ['Lista de los primeros números primos', 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 49, 47]

In [49]:
del A
print(A) # Aquí me da un error porque he borrado esta variable

NameError: name 'A' is not defined

In [51]:
primos.remove(49)
print("Borramos el 49 de la lista (¡sí, por favor!)", primos)

Borramos el 49 de la lista (¡sí, por favor!) ['Lista de los primeros números primos', 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [52]:
primos.clear()
print("Borramos la lista completa y la dejamos vacía", primos)

Borramos la lista completa y la dejamos vacía []

### Otras funciones útiles

Existen otras funciones útiles que podemos usar y que conviene conocer. 

1. **Contar el número de elementos de una lista**. Para ello, usamos `len(milista)`.
2. **Contar cuántas veces aparece un elemento en la lista**. Usamos `milista.count(17)` para saber cuántas veces el 17 aparece.
3. **Obtener el primer índice donde aparece cierto elemento**. Usamos `milista.index(17)` para saber cuál es el índice donde aparece el 17.
4. **Invertir el orden** de una lista es posible con `milista.reverse()`.
5. **Ordenar una lista** es fácil con `milista.sort()`.

Otra función útil es la de **membresía**, decidir cuándo un elemento está o no está en la lista de manera rápida. A diferencia de C o C++, lenguajes de bajo nivel, en Python no tenemos más que escribir `17 in milista` para ver si el entero `17` está en `milista` o no: el valor que devuelve es un booleano, es decir, los posibles valores de esta expresión son `True` o `False`.

In [64]:
from math import pi
milista=list(str(pi))
milista.remove('.')
print(milista)
milista.count('9')

['3', '1', '4', '1', '5', '9', '2', '6', '5', '3', '5', '8', '9', '7', '9', '3']

3

In [65]:
milista.index('9')

5

In [67]:
milista.sort()
print(milista)

['1', '1', '2', '3', '3', '3', '4', '5', '5', '5', '6', '7', '8', '9', '9', '9']

In [68]:
'0' in milista

False

In [69]:
'9' in milista

True

## Tupla

Las tuplas son muy similares a las listas, es decir, son una colección de objetos de cualquier tipo pero a diferencia de ellas **no se pueden modificar sus elementos**. 

Se usan los paréntesis para definirlos, aunque también se puede definir sin usar paréntesis, simplemente con una enumeración de objetos. Por ejemplo, `(2,3)` es una tupla formado por dos elementos, pero también puede ser una tupla `('Hola', 12, False)`. Pero sin paréntesis se puede definir así:
***
`mitupla = 'Hola', 12, False`
***

A la hora de definir una tupla de un sólo elemento hay que tener cuidado porque no vale con escribir `mitupla = ('Hola')` (obtendrías un `string`) sino añadiendo una coma al final: `mitupla = 'Hola',`

In [86]:
saludo = 'Hola',
type(saludo)

tuple

In [87]:
saludo = ('Hola')
type(saludo)

str

La indexación sigue las mismas reglas que las listas.

In [70]:
primos = 2, 3, 5, 7, 11, 13, 17, 19

Sin embargo, **no podemos modificar sus elementos:** la modificación da un error.

In [71]:
primos[0]=1

TypeError: 'tuple' object does not support item assignment

Sí que podemos concatenarlos

In [72]:
primos + (23, 27) # Concatenamos dos tuplas

(2, 3, 5, 7, 11, 13, 17, 19, 23, 27)

In [73]:
primos = primos + (23, 27) # Incluso modificarlos así

Algunos métodos que podemos usar son exactamente iguales a las de las listas:

1. **Contar las coincidencias:** podemos obtener el número de veces que aparece un elemento $\to$ `primos.count(2)` devolverá el número de veces que aparece `2` en la tupla `primos`.
2. **Índice de aparición:** Obtener en qué indice aparece por primera vez cierto elemento: `primos.index(7)` devolverá en qué posición aparece el primer `7` en la tupla `primos`.
3. **Pertenencia:** obtener si pertenece o no un elemento a una tupla: `1 in primos` devolverá `True` o `False` dependiendo de si `1` es un elemento de la tupla `primos` o no

## Conjuntos (`set`)

Los conjuntos son listas **sin orden**. Esto es, es una colección de objetos (no tiene por que ser del mismo tipo) sin ningún orden. 

La sintaxis de los conjuntos son: escribir la colecció de elementos entre llaves, separados por comas:
***
`primos = {2, 3, 5, 7, 11, 13, 17, 19}`
***
o bien con el comando `set`
***
`primos = set(2, 3, 5, 7, 11, 13, 17, 19)`
***

_Observación:_ El ocnjunto vacío se construye con `set()` y no con `{}`

In [74]:
primos =  {2, 3, 5, 7, 11, 13, 17, 19}
type(primos)

set

Como no tiene orden, usar la sintaxis de las listas como por ejemplo `primos[1]` daría un error.

In [75]:
primos[1]

TypeError: 'set' object is not subscriptable

In [76]:
type({}) # No es un conjunto, es un diccionario

dict

In [77]:
type(set())

set

Pero podemos hacer otras cosas:

1. **Añadir.** 
    1. Podemos añadir un elemento usando el método `add`: `primos.add(23)` añadiría el elemento `23` al conjunto `primos`.
    2. Podemos añadir varios elementos con el método `update`: `primos.update([23,29])` añadiría los elementos `23` y `29` al conjunto `primos`.
2. **Eliminar.** Para eliminar un elemento usamos el método `discard`: `primos.discard(19)` eliminaría el elemento `19` del conjunto `primos`.
3. **Borrar.** Para borrar todo el conjunto y dejar el conjunto vacío usamos el método `clear`: `primos.clear()` borraría todo el contenido de los elementos.
4. **Sacar elemento aleatorio.** Para mostrar y eliminar un elemento random del conjunto usamos el método `pop`: `primos.pop()` mostraría un elemento aleatorio del conjunto de primos y lo eliminaría de dicho conjunto.

### Operaciones entre conjuntos

Los conjuntos tienen matemáticamente una serie de operaciones estándar: unión, intersección, diferencia y diferencia simétrica. Además de las relaciones de contenido, ser disjunto, cardinal o pertenencia. Estas operaciones matemáticas también están reflejadas en Python:

1. **Unión**. La unión $A\cup B$ entre dos conjuntos `A` y `B` se escribe en Python como `A|B`, `A.union(B)` o `B.union(A)`.
2. **Intersección.** La intersección $A\cap B$ entre los conjuntos `A` y `B` se obtiene mediante `A&B`, `A.intersection(B)` o `B.intersection(A)`.
3. **Diferencia.** La diferencia $A\setminus B$ de dos conjuntos `A` y `B` se obtiene mediante `A-B`, `A.difference(B)`; $B\setminus A$ se obtendría mediante `B-A` o `B.difference(A)`.
4. **Diferencia simétrica.** La diferencia simétrica $A\Delta B=(A\cup B)\setminus (A\cap B)$ de dos conjuntos `A`y `B` se obtiene mediante `A^B`, o el método `A.symmetric_difference(B)` o `B.symmetric_difference(A)`.
5. **Contenido.** 
    1. Determinar si $A\subseteq B$ de dos conjuntos `A` y `B` se obtiene mediante `A.issubset(B)`, lo que da `True` o `False`.
    2. En cambio, determinar si $A\supseteq B$ se obtiene mediante el método `A.issuperset(B)`.
6. **Pertenencia.** Para determinar si un elemento pertenece a un conjunto `A` ($x\in A$) escribiremos `x in A`. El resultado será `True` o `False`.
7. **Ser disjunto.** Para determinar si dos conjuntos `A` y `B` son disjuntos $A\cap B=\varnothing$ usamos el método `A.isdisjoint(B)`, lo que dará `True` o `False`.
8. **Cardinal.** El cardinal de un conjunto `A` se obtiene de la misma forma que en las listas: `len(A)`.

## Diccionarios (`dict`)

Los diccionarios es otro tipo de lista, pero esta vez en lugar de estar indexado por los naturales 0, 1, 2, etc., está indexado por elementos arbitarios. Es decir, que puede estar indexado por cadenas de caracteres, por enteros, por números decimales, o por listas incluso. 

El nombre sugiere a los diccionarios, que a cada palabra se le asocia su definición. Se puede ver como que las definiciones están indexadas por las palabras que definen.

Los diccionarios y los conjuntos comparten la sintaxis, que son las llaves, pero a diferencia de estos, los elementos que lo componen son duplas separadas por dos puntos `:`. Por ejemplo, el siguiente diccionario asocia a cada nombre su nota en la asignatura de Teoría de Números:
***
`notas = {"José Pérez" : 4.5, "Andrés Martínez" : 7.4, "Lucas Grijander" : 9.5, "Lorenzo Jiménez" : 6.3}`
***
De este modo, podemos obtener su nota escribiendo su nombre como si fuera su índice:
***
`notas["Lucas Grijander"]` o también `notas.get("Lucas Grijander")`
***

In [78]:
notas = {"José Pérez" : 4.5, "Andrés Martínez" : 7.4, "Lucas Grijander" : 9.5, "Lorenzo Jiménez" : 6.3}

In [79]:
notas["Lucas Grijander"]

9.5

In [80]:
notas.get("Lucas Grijander")

9.5

Existe otra forma de introducir los datos, es decir, otra sintaxis para los diccionarios. En este caso, es una lista cuyas entradas son una tupla con dos elementos, donde el primero es el índice y el segundo la referencia:
***
`notas = dict([("José Pérez", 4.5), ("Andrés Martínez", 7.4), ("Lucas Grijander", 9.5), ("Lorenzo Jiménez", 6.3)])`
***

In [81]:
notas = dict([("José Pérez", 4.5), ("Andrés Martínez", 7.4), ("Lucas Grijander", 9.5), ("Lorenzo Jiménez", 6.3)])

In [82]:
print(notas)

{'José Pérez': 4.5, 'Andrés Martínez': 7.4, 'Lucas Grijander': 9.5, 'Lorenzo Jiménez': 6.3}

Los diccionarios permiten modificar los datos:
*** 
`notas["José Pérez"] = 5.0# Venga, le aprobamos.`
***

Mostramos algunas operaciones que se pueden hacer con el diccionario:

1. **Eliminar.** 
    1. Se puede eliminar un elemento con el método `pop()`: con `notas.pop("José Pérez")` podemos eliminar la entrada relacionada con `José Pérez`.
    2. Mostrar y eliminar una entrada aleatoria con el método `popitem()`: con `notas.popitem()` mostraría y eliminaría una entrada random.
    3. Eliminar un diccionario: con el comando `del`, así `del notas` borraría esta variable. También funciona `del notas["José Pérez"]` para eliminar una entrada.
    4. Borrar el contenido de un diccionario mediante el método `clear()`: escribiendo `notas.clear()` borraría todo el contenido del diccionario `notas`.
2. **Añadir.** 
    1. Para añadir una entrada nueva en el diccionario, lo añadimos mediante `notas["Paco Páez"]=3.2`. 
    2. A diferencia de las listas, conjuntos, etc. no se concatenan como lo hacen estas estructuras.
3. **Membresía.** Para ver que un _índice_ está en el diccionario usamos el comando `in`: por ejemplo, `"Lucas Grijander" in notas` devolvería `True` o `False` dependiendo de si existe o no `notas["Lucas Grijander"]`.
4. **Longitud.** El número de entradas de un diccionario se puede obtener mediante el comando `len()`: `len(notas)` nos daría el número de alumnos del que tenemos la nota puesta.

In [83]:
"Lucas Grijander" in notas

True

In [84]:
del notas["José Pérez"] # Se borra una entrada

In [85]:
print(notas)# Observa que se ha borrado la entrada "José Pérez"

{'Andrés Martínez': 7.4, 'Lucas Grijander': 9.5, 'Lorenzo Jiménez': 6.3}

In [86]:
len(notas)

3

In [87]:
notas["Paco Páez"] = 3.2
print(notas)

{'Andrés Martínez': 7.4, 'Lucas Grijander': 9.5, 'Lorenzo Jiménez': 6.3, 'Paco Páez': 3.2}

In [89]:
masnotas = dict([("Pepa Rodríguez", 9.0), ("Lola Carretero",5.2), ("Zenobia Parada", 7.6)])
notas + masnotas

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'